* {
    margin: 0px;
    font-family: 'Roboto', sans-serif;
}

.roverContainer {
    display: flex;
    justify-content: space-around;
    margin-top: 30px;
}

body {
    background-color: #dae3f1
}

.infoDiv {
    text-align: center;
    margin-top: 150px;
    line-height: 50px;
}